<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="contenedor_form_recuperar_contrasena">
    <form [formGroup]="correoForm" id="form_recuperar_contrasena">
      <div class="info_recuperar_contrasena">
        <div class="info_nombre">
          <h4 class="title_info">Correo</h4>
          <ion-input type="email" formControlName="correo" placeholder="jobbys27@jobbys.cl" class="input_info" id="correo"></ion-input>
          <!-- Errores de validacion -->
          <div *ngIf="correoForm.get('correo')?.hasError('required')">
            {{ validationMessages.correo.required }}
          </div>
          <div *ngIf="correoForm.get('correo')?.hasError('email')">
            {{ validationMessages.correo.email }}
          </div>
        </div>
        <div id="botones_recuperar_contrasena">
          <ion-button class="btn_recuperar_contrasena" (click)="recuperar()"><a>Recuperar</a></ion-button>
          <a href="../ingreso">Volver al inicio de sesión</a>
        </div>
      </div>
    </form>
  </div>


</ion-content>
