<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="contenedor_form_ingreso">
    <form [formGroup]="formularioLogin" id="form_ingreso">
      <div class="info_ingreso">

        <div class="info_nombre">
          <h4 class="title_info" position="floating">Usuario</h4>
          <ion-input type="text" placeholder="Jobbys27" class="input_info" formControlName="usuario" ></ion-input>
        </div>

        <div class="info_contrasenna">
          <h4 class="title_info">Contraseña</h4>
          <ion-input type="password" placeholder="********" class="input_info" formControlName="contrasena"></ion-input>
        </div>
        
        <div id="botones_ingreso">
          <ion-button class="btn_ingreso" type="submint" (click)="ingresar()"><a >Ingresar</a></ion-button>
          <a href="../recuperar-contrasena">Recuperar contraseña</a>
          <a href="../registro">Registrarse</a>
        </div>
      </div>
    </form>
  </div>

</ion-content>
