<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <!-- <ion-menu-button ></ion-menu-button> -->
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="top_scroll">
    <h1>Carrusel de top en servicios</h1>
    <ion-list>
      <button class="btn btn-danger">asda</button>
    </ion-list>
  </div>
  <div id="ordenar_servicios">
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../assets/Servicios/gasfiteria/Gasfiter_icon.png" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Gasfiteria</h5>
      </div>
    </div>
  </div>

</ion-content>
