*{
    margin: 0;
    padding: 0;
}
  //*********************************************
  //INICIO DE TOP SCROLL
  //Contenedor de top scroll
#top_scroll{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}
  //FIN DE TOP SCROLL
  //*********************************************
  //INICIO DE CONTENEDORES DE SERVICIOS
  //Contenedor de ordenar servicios
#ordenar_servicios{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 48%  48%; // Separaci칩n de 3%
    grid-column-gap: 1%;
    grid-template-rows: 30% 30% 30%; // Separaci칩n de 5%
    grid-row-gap: 2%;
    overflow: hidden;
    overflow-y: scroll;
}
  //Contenedor de servicios presentes
.contenedor_servicio{
    width: 120px;
    height: 120px;
    margin: 2.5% 1.5%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-self: center;
    // align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}
  //Contenedor de imagen de servicio
  .contenedor_imagen_servicio {
    //tama침o
    width: 100%;
    height: 100%;
  }
//*********************************************
//INICIO DE TOP SCROLL
//Contenedor de top scroll
#top_scroll{
    width: 100%;
    height: 25%;
}
//FIN DE TOP SCROLL
//*********************************************
//INICIO DE CONTENEDORES DE SERVICIOS
//Contenedor de ordenar servicios
#ordenar_servicios{
    width: 100%;
    height: 70%;

}
//Contenedor de servicios presentes
.contenedor_servicio{
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}
//Contenedor de imagen de servicio
.contenedor_imagen_servicio {
    //tama침o
    width: 100%;
    height: 100%;
    //borde
    border-radius: 50px;
    //orden
    display: flex;
    justify-content: center;
}
  //imagen de servicio
.contenedor_imagen_servicio img{
    height: 100%;
    width: 100%;
}
  //Conenedor de nombre de servicio
.nombre_servicio{
    margin-top: -40px;
    border: 1px none black;
    background: #000000d2;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
}
  //FIN DE CONTENEDORES DE SERVICIOS 
  //*********************************************
