<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <!-- <ion-menu-button ></ion-menu-button> -->
      <ion-back-button defaultHref="/inicio" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="top_scroll">
    <h1>Carrusel de top en servicios</h1>
    <ion-list>
      <button class="btn btn-danger">asda</button>
    </ion-list>
  </div>
  <div id="ordenar_servicios">
    <!-- PRUEBA DE PRODUCTOS CON API -->
    <div class="contenedor_servicio" *ngFor="let producto of productos">
      <div class="contenedor_imagen_servicio">
        <img src="{{ producto.image }}" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>{{ producto.title }}</h5>
      </div>
    </div>


    <!-- <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../assets/Servicios/gasfiteria/Gasfiter_icon.png" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Gasfiteria</h5>
      </div>
    </div> -->


    
    <!-- <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/agricultor/logo.avif" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Agricultura</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/albanil/logo.png!sw800" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Albañileria</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/artesano/logo.avif" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Artesania</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/barbero/logo.jpg" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Barberia</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/carnicero/logo.jpg" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Carniceria</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/carpinteros/logo.jfif" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Carpinteria</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/cerrajero/logo.jpg" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Cerrajeria</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/cocinero/logo.jpg" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Cocinería</h5>
      </div>
    </div>
    
    <div class="contenedor_servicio">
      <div class="contenedor_imagen_servicio">
        <img src="../../assets/Servicios/exterminador/logo.jfif" alt="">
      </div>
      <div class="nombre_servicio">
        <h5>Plagas</h5>
      </div>
    </div> -->
    
  </div>

</ion-content>
