<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- <ion-item class="item" *ngFor="let personaje of personajes" [routerLink]="['/servicios/' + personaje.id ]">
    <ion-avatar aria-hidden="true" class="imagen" slot="start">
      <img src="{{ personaje.image }}" alt="">
    </ion-avatar>
    <ion-label>{{ personaje.name }}</ion-label>
  </ion-item>
  <ion-item>
    <div class="info_weather">
      <div class="dato_weather" class="temp">-ºC</div>
      <div class="dato_weather" class="summary">Estado Climatico</div>
      <div class="dato_weather" class="location">Lugar</div>
    </div>
  </ion-item> -->
  <div>
    <h3 #titulo>Bienvenid@ {{ usuario }}</h3>
      <h3>Estas presenciando el Inicio de este software que te facilitara tu busqueda y contratación de servicios
      </h3>
  </div>

</ion-content>

